.App {
  width: 60%;
  margin: auto;
  text-align: left;
}

.PostsContainer {
  background-color:rgb(230, 232, 233);
  padding: 2%;
  margin-top: 10px;
}

.PostItem {
  margin-bottom: 10px;
}

.CommentList {
  margin-left: 10px;
  margin-top: 20px;
  background-color:#f7f4f4;
}

#commentFrom::after{
  content: "\a";
  white-space: pre;
}

.CommentItem {
  margin-bottom: 20px;
  padding: 10px;
  border-bottom: 1px solid #bbb;
}

.commentHeader {
  color: green
}

.Collapsible__trigger {
  border-bottom: 1px solid black;
  cursor:pointer;
}